html {
    height: 100%;
  }
  
  body {
    margin: 0;
    background: #000;
    overflow: hidden;
    height: 100%;
  }
  
  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: radial-gradient(circle at 2% 21%, rgb(85, 11, 97) 0%, #a30d8a00 40%),
                      radial-gradient(circle at 95% 93%, #00146f 0%, #580e7500 45%);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.content {
    display: flex;
    position: absolute;
    top: 20%;
    left: 24%;
    width: 451px;
    height: 509px;
}

.pfp {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 20px;
    filter: drop-shadow(0 0 40px rgba(0, 0, 0, 0.836));
}

.username {
    position: absolute;
    color: #1900FA;
    text-shadow: 0 8px 20px #1900FA;
    font-family: 'Poppins';
    font-weight: 200;
    top: 117px;
    left: 33px;
    background-image: url(media/picmix.com_1777484.gif);
    background-position: center center;
    background-size: 70%;
    font-size: x-large;
}

.projectstext{
    position: absolute;
    color: #ffffff;
    font-family: 'Poppins';
    font-weight: 200;
    top: 215px;
    left: 33px;
    font-size: large;
    font-weight: 500;
}

.insta {
    display: flex;
    width: 30px;
    height: 30px;
    top: 193px;
    left: 7%;
    position: absolute;
    border-radius: 9px;
    border: 2px solid transparent;
    border-color: #1717172b;
    align-content: center;
    transition: box-shadow 0.3s ease;
    background-color: #58585800;
    backdrop-filter: blur(29px);
}

#instaicon{
    scale: 0.9;
}

.insta:hover {
    box-shadow: 0 0 10px rgba(105, 105, 105, 0.5); /* Added box-shadow on hover */
}

#instaicon {
    transform: scale(0.7);
    transition: transform 0.3s ease; /* Added transition for scaling */
}

.insta:hover #instaicon {
    transform: scale(0.9); /* Scale up on hover */
}

.projectbox {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    width: 452px;
    height: 210px;
    position: absolute;
    top: 268px;
    left: 30px;
}

#prj1 {
    background-color: #060606;
    width: 260px;
    border-radius: 24px;
    border: 1px solid transparent;
    border-color: #0c0c0c;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

#circle1 {
    position: relative;
    background-color: #f200eb;
    width: 123px;
    height: 123px;
    filter: blur(62px);
    border-radius: 50px;
    top: -69px;
    left: -63px;
}

#circle2 {
    position: relative;
    background-color: #1100f2;
    width: 123px;
    height: 123px;
    filter: blur(62px);
    border-radius: 50px;
    top: 41px;
    left: 111px;
}

.project-frame {
    display: flex;
    background-color: #00000061;
    width: 56%;
    height: 139px;
    position: absolute;
    top: 5px;
    border-radius: 20px;
    backdrop-filter: blur(65px);
    border: 1px solid transparent;
    border-color: #111111;
}

#title1 {
    position: absolute;
    color: white;
    font-family: 'Poppins';
    top: 133px;
    left: 10px;
    font-size: small;
}

#title2 {
    position: absolute;
    color: #ffffff30;
    font-family: 'Poppins';
    top: 150px;
    left: 10px;
    font-size: small;
}

.scene{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    perspective: 10vmin;
}

@keyframes animate {
    0%, 90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: 
        translateZ(0vmin)
        rotateY(90deg)
        rotateX(var(--rx))
        translateZ(var(--x))
        scaleX(6);
    }
}

