* {
    cursor: url(media/cur.png) 16 16, auto !important;
  }

html {
  height: 100%;
  
}

body {
    background-color: #0e0e0e;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: radial-gradient(circle at 54% 57%, rgb(85, 11, 97) 0%, #a30d8a00 40%),
                      radial-gradient(circle at 50% 50%, #00146f 0%, #580e7500 45%);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
    overflow: hidden;
}


.content {
    display: flex;
    position: absolute;
    top: 20%;
    left: 24%;
    width: 451px;
    height: 509px;
}

.pfp {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 20px;
    filter: drop-shadow(0 0 40px rgba(0, 0, 0, 0.836));
}

.username {
    position: absolute;
    color: #ffffff;
    text-shadow: 0 8px 20px #ffffff;
    font-family: 'Poppins';font-size: x-large;
    font-weight: 200;
    top: 117px;
    left: 33px;
    background-position: center center;
    background-size: 70%;
    font-weight: 600;
}

.projectstext {
    position: absolute;
    color: #ffffff;
    font-family: 'Poppins';
    font-weight: 200;
    top: 262px;
    left: 33px;
    font-size: large;
    font-weight: 500;
    margin: 5px;
}

.insta {
    display: flex;
    width: 39px;
    height: 39px;
    top: 193px;
    left: 7%;
    position: absolute;
    border-radius: 9px;
    border: 2px solid transparent;
    border-color: #ffffff0f;
    align-content: center;
    transition: box-shadow 0.3s ease;
    background-color: #58585800;
    backdrop-filter: blur(29px);
}

#instaicon{
    scale: 0.9;
}

.insta:hover {
    box-shadow: 0 0 10px rgba(105, 105, 105, 0.5); /* Added box-shadow on hover */
}

#instaicon {
    transform: scale(0.7);
    transition: transform 0.3s ease; /* Added transition for scaling */
}

.insta:hover #instaicon {
    transform: scale(0.9); /* Scale up on hover */
}

.rblx {
    display: flex;
    width: 39px;
    height: 39px;
    top: 193px;
    left: 18%;
    position: absolute;
    border-radius: 9px;
    border: 2px solid transparent;
    border-color: #ffffff0f;
    align-content: center;
    transition: box-shadow 0.3s ease;
    background-color: #58585800;
    backdrop-filter: blur(29px);
}

#rblxicon{
    scale: 0.9;
}

.rblx:hover {
    box-shadow: 0 0 10px rgba(105, 105, 105, 0.5); /* Added box-shadow on hover */
}

#rblxicon {
    transform: scale(0.7);
    transition: transform 0.3s ease; /* Added transition for scaling */
}

.rblx:hover #rblxicon {
    transform: scale(0.9); /* Scale up on hover */
}

.steam {
    display: flex;
    width: 39px;
    height: 39px;
    top: 193px;
    left: 29%;
    position: absolute;
    border-radius: 9px;
    border: 2px solid transparent;
    border-color: #ffffff0f;
    align-content: center;
    transition: box-shadow 0.3s ease;
    background-color: #58585800;
    backdrop-filter: blur(29px);
}

#steamicon{
    scale: 0.9;
}

.steam:hover {
    box-shadow: 0 0 10px rgba(105, 105, 105, 0.5); /* Added box-shadow on hover */
}

#steamicon {
    transform: scale(0.7);
    transition: transform 0.3s ease; /* Added transition for scaling */
}

.steam:hover #steamicon {
    transform: scale(0.9); /* Scale up on hover */
}
