* {
    cursor: url(media/cur.png) 16 16, auto !important;
  }

html {
  height: 100%;
  
}

body {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(#101010 2px, transparent 2px), linear-gradient(to right, #101010 2px, transparent 2px);
    background-size: 38px 38px;
    background-color: #0d0d0d;

    overflow: hidden;
}



.content {
    display: flex;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1150px;
    height: 310px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    -o-backdrop-filter: blur(8px);
    justify-content: center;
    border-radius: 17px;
    /* border: 4px solid; */
    /* border-color: #50505026; */
    background-color: #0d0d0dc9;
    border: solid 1px;
    border-color: #191919;
}

@media screen and (max-width: 600px) {
    .content {
        width: 90%; /* Adjusted width for smaller screens */
        border-radius: 10px; /* Reduced border-radius for smaller screens */
    }

    .username {
        font-size: 20px; /* Adjusted font size for mobile */
    }

    .projectstext {
        top: 230px; /* Adjusted position for mobile */
    }

    .socials {
        top: 270px; /* Adjusted position for mobile */
    }

    .divider {
        display: none; /* Hide the divider on mobile */
    }

    body {
        overflow: hidden; /* Disable scrolling on mobile */
    }
}


.pfp {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    position: absolute;
    top: 95px;
    left: 36px;
    /* filter: drop-shadow(rgba(0, 0, 0, 2.835) 1px 11px 16px); */
    z-index: 1;
   /* border: 4px solid;*/
    border-color: #131313;
}
.username {
    position: absolute;
    color: #eebf5b;
    text-shadow: 0 2px 20px #515151;
    font-family: 'BANNER', sans-serif;
    font-size: 30px;
    top: 160px;
    background-position: center center;
    background-size: 70%;
    margin: auto;
    left: 171px;
}

.projectstext {
    position: absolute;
    color: #ffffff;
    font-family: 'Poppins';
    font-weight: 200;
    top: 262px;
    left: 33px;
    font-size: large;
    font-weight: 500;
    margin: 5px;
}

#social {
    display: flex;
    width: 39px;
    height: 39px;
    top: 193px;
    border-radius: 59px;
    border: 2px solid rgba(255, 255, 255, 0.06);
    align-content: center;
    transition: box-shadow 0.3s ease 0s;
    background-color: rgba(13, 13, 13, 0.04);
    backdrop-filter: blur(29px);
    margin-right: 2px;
    /* backdrop-filter: drop-shadow(2px 4px 6px black); */
    /*filter: drop-shadow(0px 0px 16px white);*/
}

#socialicon{
    scale: 0.9;
}

#social:hover {
    box-shadow: 0 0 10px rgba(45, 45, 45, 0.5); /* Added box-shadow on hover */
}

#socialicon {
    transform: scale(0.7);
    transition: transform 0.3s ease; /* Added transition for scaling */
}

#social:hover #socialicon {
    transform: scale(0.9); /* Scale up on hover */
}


.socials {
    display: flex;
    flex-direction: row;
    padding-bottom: 0px;
    padding-top: 0px;
    position: absolute;
    /* width: 13px; */
    height: 43px;
    top: 224px;
    /* scale: 1.2; */
    left: 167px;
}

.divider {
    width: 364px;
    background-color: #ffffff1a;
    height: 1px;
    top: 210px;
    position: absolute;
    left: 170px;
}

.typing-container {
    position: absolute;
    height: 43px;
    display: flex;
    align-items: center;
    top: 157px;
    left: 315px;
}

#description {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 5px;
    margin-right: 5px;
    color: #ffffff45;
    font-family: 'Poppins', sans-serif;
}

.cursor {
    position: absolute;
    right: 0;
    height: 22px; /* Adjust cursor height */
    width: 2px;
    background-color: #ffffff;
    animation: blink 2s infinite;
}

@keyframes blink {
    0%, 50%, 100% {
        opacity: 0;
    }
    25%, 75% {
        opacity: 1;
    }
}

.banner {
    background-color: #272727;
    width: 1143px;
    height: 50%;
    top: 1%;
    position: sticky;
    border-radius: 14px;
    background-image: url(media/fireworks.jpg);
    background-position: center; /* Add this line */
    background-repeat: no-repeat;
    background-size: cover;
}

.soundbutton {
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #1a1a1ac2;
    z-index: 2;
    border-radius: 9px;
    align-content: center;
    /* flex-wrap: wrap; */
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    -o-backdrop-filter: blur(8px);
}

.sound {
    scale: 0.1;
    /* top: 50%; */
    /* position: absolute; */
    /* left: 50%; */
}

.contacts {
    display: flex;
    color: white;
    width: 285px;
    height: 43px;
    position: fixed;
    top: 324px;
    left: 0%;
    border-radius: 4px;
    align-items: center;
    border: solid 1px;
    border-color: #191919;
    background-color: #0e0e0e;
}


#Email {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    left: 10px;
    position: absolute;
}

#EmailIcon {
    position: absolute;
    /* scale: 0; */
    width: 20px;
    left: 250px;
}





