body {
    background-image: url(lolimages/yeat-yaya.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #000000;
    background-size: 1300px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}




.content-container {
    width: 526px;
    height: 336px;
    border: 2px solid #14141452;
    padding: 20px;
    background-color: #080808ed;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    backdrop-filter: blur(9px);
    border-radius: 13px;
}


.pfp {
    display: block;
    background-image: url(lolimages/pfp.webp);
    background-repeat: no-repeat;
    background-position: center center;
    width: 135px;
    height: 135px;
    border-radius: 40px;
    background-size: cover;
    position: absolute;
    top: 23%;
    left: 17%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}

.username {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #1900FA;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 10%;
    left: 36%;
    font-size: large;
    font-weight: 600;
    text-shadow: 0 8px 20px #1900FA;
    background-image: url(lolimages/picmix.com_1777484.gif);
    background-position: center center;
    background-size: 70%;
}

.creds {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff33;
    font-family: 'DM Mono', monospace;
    position: absolute;
    top: 93%;
    right: 60%;
    width: 163px;
    font-size: 10px;
}

.desc{
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    text-align: center; /* Center the text horizontally */
    color: #ffffff33;
    font-family: 'DM Mono', monospace;
    position: absolute; /* Use absolute positioning */
    top: 125%; /* Adjust the top position to move the div vertically */
    font-size: 13px;
    font-weight: 100;
    text-shadow: 0 8px 20px #000000; /* Add a background shadow blur to the text */
    width: 200px;
}

#particles-js{
    width: 100%;
    height: 100vh;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0);
    z-index: 20;
    transition: opacity 0.5s ease;
    pointer-events: auto;
}

.overtext{
    color: white;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0 8px 20px #ffffff;
    animation: textShadowFade 2s infinite alternate;
}

@keyframes textShadowFade {
    0% {
        text-shadow: 0 8px 20px #ffffff;
    }
    50% {
        text-shadow: 0 8px 20px transparent;
    }
}

.overlay.hide {
    opacity: 0; /* Opacity when hidden */
    pointer-events: none; /* Disable pointer events when hidden */
}

.insta {
    display: block;
    position: relative;
    top: 96%;
    left: -50%;
}
.instaicon {
    width: 20px;
    height: 20px; /* Set a fixed height to maintain a square shape */
    transition: transform 0.3s, box-shadow 0.3s;
    display: inline-block; /* Use inline-block display */
    vertical-align: middle; /* Align the image vertically to the middle */
    
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1),
    filter 0.4s cubic-bezier(0.23, 1, 0.32, 1); /* Add transition for filter */

    filter: drop-shadow(0 0 5px rgba(103, 103, 103, 0.8)); /* Add a drop shadow on hover */
}

.instaicon:hover {
    width: 21px;
    height: 21px;
    transform: scale(1.5);
    filter: drop-shadow(0 0 10px rgba(103, 103, 103, 0.8)); /* Add a drop shadow on hover */
}


