* {
    cursor: url(curr.png), auto !important;
  }

  canvas {
    display: block;
  }

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  cursor: none;
  background-color: #000000;
}

.crumbs {
  background-color: #00000000;
  display: flex;
  height: 70px;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 100;
  color: white;
  -webkit-backdrop-filter: blur(0px)!important;
  -moz-backdrop-filter: blur(0px);
  -o-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  transition: background-color 0.3s ease-out, border-bottom 0.3s ease-out, backdrop-filter 0.3s ease-out; 
  border-bottom: 1px solid #00000000;
  
}

.scrolled {
  background-color: #4b4b4b41;
  border-bottom: 1px solid #84848441; 
  -webkit-backdrop-filter: blur(13px)!important;
  -moz-backdrop-filter: blur(13px);
  -o-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px)/* Change this to your desired background color */
}

:root {
  --gradOne: hsla(28, 100%, 74%, 1);
  --gradTwo: hsla(189, 100%, 56%, 1);
  --gradThree: hsla(355, 85%, 93%, 1);
  --gradFour: hsla(340, 100%, 76%, 1);
}

.section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section1 {
    background-color: rgb(7, 7, 7);
    color: #fff;
    background-image: var(--gradient);
    background-image: radial-gradient(
      at 36% 41%,
      hsl(226, 92%, 43%) 0px,
      transparent 50%
    ),
    radial-gradient(at 70% 51%, #7c0b80 0px, transparent 50%),
    radial-gradient(at 9% 22%, #6b0f34 0px, transparent 50%),
    radial-gradient(at 6% 3%, hsl(222, 98%, 49%) 0px, transparent 50%),
    radial-gradient(at 71% -17%, hsl(194, 82%, 46%) 0px, transparent 50%);
}

#section2{
    background-color: rgb(7, 7, 7);
    color: #fff;
}

.arrow-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.arrow {
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 10px;
    background-image: url(down-arrow.png);
    transition: transform 0.5s ease-in-out;
    animation: arrowAnimation 2s infinite alternate; /* Adjust the animation duration as needed */
  }
  
  @keyframes arrowAnimation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(10px); /* Adjust the distance the arrow moves */
    }
  }
  


.cursor {
    position: absolute;
    right: -17px;
    height: 76px;
    width: 6px;
    background-color: #ffffff;
    animation: blink 2s infinite;
}

@keyframes blink {
    0%, 50%, 100% {
        opacity: 0;
    }
    25%, 75% {
        opacity: 1;
    }
}


#user {
    position: absolute;
    top: 23px;
    background-color: #3a20cf4d;
    font-family: 'SF Pro Display', sans-serif;
    border-radius: 7px;
    border: solid 2px;
    border-color: #3720c0;
    backdrop-filter: blur(6px);
}

#usertext {
    font-size: 16px;
    line-height: 1.8;
    margin: 10px;
}

#pfp {
    width: 30px;
    height: 30px;
    border-radius: 999px;
    position: absolute;
    margin-left: 13px;
    filter: blur(10px); /* Initial blur effect */
    transition: filter 1s ease; /* Adjust the duration and easing as needed */
}

#pfp.loaded {
    filter: blur(0); /* Remove the blur effect after data is loaded */
}

.contain{
  font-family: 'SF Pro Display', sans-serif;
  position: relative;
    transition: transform 0.2s ease-out; /* Add smooth transition */
    padding: 0 30px;
}

.bae {
  font-size: 62px;
  /* margin-bottom: 0.3rem; */
  margin: auto;
  margin-bottom: 0.3rem;
}

.desc{
  margin: auto;
  margin-bottom: 0.5rem;
}

#descC1 {
  color: #ffe701;
}

#descC2 {
  color: #01a6ff;
}

.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.9rem;
  margin-top: 0.9rem;
}

.insta, .steam{
  width: 24px;
  height: 24px;
}

hr {
  border: none;
  border-top: 2px solid #ffffff24;
  overflow: visible;
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
}

.loader {
  --uib-size: 30px;
  --uib-color: rgb(255, 255, 255);
  --uib-speed: 1s;
  --uib-stroke: 3px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
  margin-top: 2rem;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.discord_user.loaded .loader  {
  opacity: 0;
}

.line {
  position: absolute;
  top: 0;
  left: calc(50% - var(--uib-stroke) / 2);
  display: flex;
  align-items: flex-start;
  height: 100%;
  width: var(--uib-stroke);
}

.line::before {
  content: '';
  height: 22%;
  width: 100%;
  border-radius: calc(var(--uib-stroke) / 2);
  background-color: var(--uib-color);
  animation: pulse calc(var(--uib-speed)) ease-in-out infinite;
  transition: background-color 0.3s ease;
  transform-origin: center bottom;
}

.line:nth-child(1) {
  transform: rotate(calc(360deg / -12 * 1));

  &::before {
    animation-delay: calc(var(--uib-speed) / -12 * 1);
  }
}
.line:nth-child(2) {
  transform: rotate(calc(360deg / -12 * 2));

  &::before {
    animation-delay: calc(var(--uib-speed) / -12 * 2);
  }
}
.line:nth-child(3) {
  transform: rotate(calc(360deg / -12 * 3));

  &::before {
    animation-delay: calc(var(--uib-speed) / -12 * 3);
  }
}
.line:nth-child(4) {
  transform: rotate(calc(360deg / -12 * 4));

  &::before {
    animation-delay: calc(var(--uib-speed) / -12 * 4);
  }
}
.line:nth-child(5) {
  transform: rotate(calc(360deg / -12 * 5));

  &::before {
    animation-delay: calc(var(--uib-speed) / -12 * 5);
  }
}
.line:nth-child(6) {
  transform: rotate(calc(360deg / -12 * 6));

  &::before {
    animation-delay: calc(var(--uib-speed) / -12 * 6);
  }
}
.line:nth-child(7) {
  transform: rotate(calc(360deg / -12 * 7));

  &::before {
    animation-delay: calc(var(--uib-speed) / -12 * 7);
  }
}
.line:nth-child(8) {
  transform: rotate(calc(360deg / -12 * 8));

  &::before {
    animation-delay: calc(var(--uib-speed) / -12 * 8);
  }
}
.line:nth-child(9) {
  transform: rotate(calc(360deg / -12 * 9));

  &::before {
    animation-delay: calc(var(--uib-speed) / -12 * 9);
  }
}
.line:nth-child(10) {
  transform: rotate(calc(360deg / -12 * 10));

  &::before {
    animation-delay: calc(var(--uib-speed) / -12 * 10);
  }
}
.line:nth-child(11) {
  transform: rotate(calc(360deg / -12 * 11));

  &::before {
    animation-delay: calc(var(--uib-speed) / -12 * 11);
  }
}

@keyframes pulse {
  0%,
  80%,
  100% {
    transform: scaleY(0.75);
    opacity: 0;
  }
  20% {
    transform: scaleY(1);
    opacity: 1;
  }
}

.discord_user {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.4rem;
  font-family: 'SF Pro Display', sans-serif;
  margin-top: 1rem; /* Initial margin */
  opacity: 0;
  transition: margin-top 0.3s ease-out, opacity 0.3s ease-out;
}

.discord_user.loaded {
  margin-top: 0.4rem; /* Adjusted margin when loaded */
  opacity: 1;
}

#loader22{
  margin-top: 5rem;
}

#custom-cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%; /* Add a smooth transition for rotation */
  z-index: 100;
  background-color: #f8f8f860;
  backdrop-filter: invert(100%);
  pointer-events: none;
}

@media (max-width: 767px) {
  #custom-cursor {
    display: none;
  }
}
